<section *ngIf="showFaq">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-lg-12">
        <br />
        <div class="cust-faq">
          <h3 class="text-center">FAQ'S</h3>
          <br />
          <div *ngFor="let item of faqData">
            <h5>{{item.question}} ? </h5>
            <p>{{item.answer}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="showTerms">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="cust-faq">
          <br />
          <h3 class="text-center">Terms and Conditions</h3>
          <br />

          <div class="static">
            <p>{{termsData.data}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="showRating">
  <div class="container">
    <div class="row">

      <ngb-rating class="rate" [(rate)]="currentRate" (rateChange)="rateChange(currentRate)"></ngb-rating>
      <hr>
      <pre>Rate: <b>{{currentRate}}</b></pre>
    </div>
    <label>Feedback</label>
    <textarea class="rate" maxlength="200"></textarea>
  </div>
</section>