<section *ngIf="showFaq">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <div class="cust-faq my-4">
          <h1>Faq's :</h1>
          <br />
          <br />
          <div *ngFor="let item of faqData">
            <h4>{{item.question}} ? </h4>
            <p>{{item.answer}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="showTerms">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <div class="cust-faq my-4">
          <h1>Terms and Conditions:</h1>
          <br />
          <br />
          <div class="static">
            <p>{{termsData.data}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>