<!-- start header -->
<app-header (valueChange)='displayCounter($event)'></app-header>
<div class="container main-header">
  <div class="row">
    <div class="col-lg-3">
      <a routerLink="/">
        <img src="assets/images/logo.png" class="img-fluid">
      </a>
    </div>
    <div class="col-lg-6">
      <form>
        <div class="input-group mt-3 search-btn">
          <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username"
            aria-describedby="basic-addon2" [(ngModel)]="searchParam" name="searchParam">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary search-icon" type="button" (click)="searchProducts()">
              <img src="assets/images/search-icon.png">
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-3  mt-3 w-100">
      <div class="dropdown show">
        <button class="btn btn-secondary dropdown-toggle dropdown-button" href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <ul class="cart">
            <li>
              <img src="assets/images/cart.png" (click)="getCartList()">
            </li>
            <li>
              <h4 (click)="getCartList()">Shopping Cart</h4>
              <span (click)="getCartList()" *ngIf="mainServe.cartCount!==undefined">{{mainServe.cartCount}}</span>
              <span (click)="getCartList()" *ngIf="mainServe.cartCount==undefined">0</span>
            </li>
          </ul>
        </button>

        <div class="dropdown-menu cart-dropdown dropdown-content-cart" aria-labelledby="dropdownMenuLink">
          <div class="container-fluid cart-dropdown-content">
            <!-- <p class="text-center" style="color:red">{{errorMessage}}</p> -->
            <!-- cart item -->
            <div class="row">
              <div class="col-lg-12 text-right">
                <img src="assets/images/close.png" class="close-cart">
              </div>
            </div>
            <div class="row cart-product" *ngFor="let item of mainServe.viewCart">

              <div class="col-lg-12 text-right">
                <img src="assets/images/close.png" class="close-cart" (click)="deleteCart(item.product_sku_id)">
              </div>
              <div class="col-lg-5">
                <ul class="product-image">
                  <li>
                    <img [src]="item.product_image" class="img-fluid">
                  </li>
                  <li>
                    <h3>{{item.title}}</h3>
                    <!-- <h4>1 X 26</h4> -->
                  </li>
                </ul>
              </div>
              <div class="col-lg-3">
                <div class="quantity cart-quantity">
                  <form *ngFor="let data of item.sku">
                    <button class="minus-btn" type="button" name="button" (click)="itemHeaderDecrease(item.title,item,data)">
                      <i class="fa fa-minus " aria-hidden="true"></i>
                    </button>
                    <input type="text" name="quantity" readonly="readonly" value="{{data.mycart}}" />
                    <button class="plus-btn" type="button" name="button" (click)="itemHeaderIncrease(item.title,item,data)">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
              </div>
              <div class="col-lg-4">
                <ul class="product-cart-price">
                  <li>
                    <p>Rs : {{item.selling_price}}</p>
                    <p class="text-danger" *ngFor="let sku of item.sku">BIG SAVE PRICE : RS {{sku.actual_price -
                      sku.selling_price}}</p>
                  </li>
                </ul>
              </div>
            </div>
            <!-- cart item -->
            <!-- charges -->
            <div class="row table-responsive total-charges">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="charges">Sub Total</td>
                    <td class="cost">
                      <span>:</span>{{subTotal}}</td>
                  </tr>
                  <tr>
                    <td class="charges">Delivery Charges</td>
                    <td class="cost">
                      <span>:</span>{{deliveryCharge}}</td>
                  </tr>
                  <tr>
                    <td class="charges">Total</td>
                    <td class="cost">
                      <span>:</span>{{Total}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- charges -->
            <!-- proceed buttons -->
            <div class="row cart-dropdown-button mb-5">
              <p>
                <up>*</up>Actual Delivery Charges Computed at Checkout
              </p>
              <div class="col-lg-6 ">
                <a routerLink="/viewcart">View Cart</a>
              </div>
              <div class="col-lg-6 ">
                <a routerLink="/viewcart">CheckOut</a>
              </div>

            </div>
            <!-- proceed button -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main-header -->
<!-- menu header -->
<div class="container-fluid main-menu">
  <div class="container main-menu">
    <div class="row">
      <div class="col-lg-3 categories text-center">
        <div>
          <a id="dLabel" role="button" class="btn btn-primary dropdown-button" (click)="showCat()">
            CATEGORIES
            <img src="assets/images/drop-down.png" class="angle-down">
          </a>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light s col-xl-9">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=""></div>
        <div class="collapse navbar-collapse menu-list" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item ">
              <a class="nav-link menu" href="#">HOME
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu" href="#">SMART BASKET</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu" (click)="viewAll('ALL OFFERS')">ALL OFFERS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu" (click)="viewAll('BEST DEALS OF THE DAY')">DEAL OF THE DAY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menu" href="#">NEW ARRIVALS</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>


<section>
  <div class="container">
    <div class="row">
      <!-- show categories -->
      <div class="col-md-3">
        <div class="cats" *ngIf="mainServe.showCategories">
          <div *ngFor="let data of mainServe.categories;let i =index" (click)="showCatProd(data.id,i,data.name)"
            [ngClass]="{'activebak':i==selectedCat}">
            <a>{{data.name}}
              <span class="float-right" (click)="$event.stopPropagation();showSubCat(data.id,i)" [ngClass]="{'active':showSubCats && i==selectedCat}">
                <fa name="chevron-right"></fa>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- show sub categories -->

      <div class="col-md-3">
        <div class="subcats" *ngIf="mainServe.showSubCats">
          <div *ngFor="let data of mainServe.subCatList">
            <a (click)="showSubCatProd(data.id,i,data.name)">{{data.name}}
              <!-- <span class="float-right">
                  <fa name="chevron-right"></fa>
                </span> -->
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6">
          <div class="subcats" *ngIf="showSubCats">
            <div class="sub-category">
              <div class="sub-category-list">
                <ul class=" category-dropdown category-main-list" *ngFor="let subsubData of subData.subcategory">
                  <li>
                    <a>{{subsubData.name}}
                    </a>
                  </li>
  
                  <img class="offer-image" src="assets/images/classmate.jpg">
                </ul>
              </div>
              <div class="sub-category-list">
                <img src="assets/images/offer.jpg" class="img-fluid">
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</section>


<!-- end header -->
<!-- vegetables category -->
<div>
  <div class="container category">
    <ul>
      <li>
        {{catName}}
      </li>
    </ul>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators circle-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/images/vegetables-banner.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block category-name">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1>{{catName}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/vegetables-banner.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block category-name">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1>{{catName}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/images/vegetables-banner.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block category-name">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1>{{catName}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mb-3">
    <div class="row">
      <!-- category list -->
      <div class="col-lg-3">
        <div class="categories-main-list">
          <h2 class="category-heading">Category</h2>
          <ul class="categories-list">

            <li class="active-category" *ngFor="let data of mainServe.categoriesWithSubCat" (click)="catProducts(data.id,data.name)">{{data.name}}
            </li>

          </ul>
        </div>
        <div class="brand">
          <h2 class="category-heading">Brand</h2>
          <ul class="categories-list brand-filter">
            <li class="active-category">
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1p" checked>
                <label class="custom-control-label terms-label" for="customCheck1p">Aenean sed</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1o" checked>
                <label class="custom-control-label terms-label" for="customCheck1o">Ugue vitae arcu</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1fo" checked>
                <label class="custom-control-label terms-label" for="customCheck1fo">ultricies aliquet</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1u" checked>
                <label class="custom-control-label terms-label" for="customCheck1u">Fusce fringilla</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1y" checked>
                <label class="custom-control-label terms-label" for="customCheck1y">Quisque</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1t" checked>
                <label class="custom-control-label terms-label" for="customCheck1t">Aenean sed </label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1r" checked>
                <label class="custom-control-label terms-label" for="customCheck1r">Ugue vitae arcu </label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1e" checked>
                <label class="custom-control-label terms-label" for="customCheck1e">ultricies aliquet</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1w">
                <label class="custom-control-label terms-label" for="customCheck1w">Ugue vitae arcu</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1q" checked>
                <label class="custom-control-label terms-label" for="customCheck1q">Ugue vitae arcu</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1qvg" checked>
                <label class="custom-control-label terms-label" for="customCheck1qvg">Category</label>
              </div>
            </li>
          </ul>
        </div>
        <div class="categories-main-list">
          <h2 class="category-heading">Price</h2>
          <ul class="categories-list price-list">
            <li class="active-category">
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="price-list-1" checked>
                <label class="custom-control-label terms-label" for="price-list-1">RS 21 to RS 50 (100)</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="price-list-12">
                <label class="custom-control-label terms-label" for="price-list-12">RS 51 to RS 100(105)</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="price-list-13">
                <label class="custom-control-label terms-label" for="price-list-13">RS 101 to RS 200 (140)</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="price-list-15">
                <label class="custom-control-label terms-label" for="price-list-15">RS 201 to RS 300 (70)</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1qvg7">
                <label class="custom-control-label terms-label" for="customCheck1qvg7">RS 301 to RS 400 (50)</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1qvg9">
                <label class="custom-control-label terms-label" for="customCheck1qvg9">RS 401 to RS 500 (60)</label>
              </div>
            </li>
          </ul>
        </div>
        <div class="categories-main-list">
          <h2 class="category-heading">Category</h2>
          <ul class="categories-list">

            <li class="active-category">
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1qvg9df " checked>
                <label class="custom-control-label terms-label" for="customCheck1qvg9df">15% - 25% (220)</label>
              </div>
            </li>
            <li>
              <div class="custom-control custom-checkbox terms-checkbox">
                <input type="checkbox" class="custom-control-input terms-input" id="customCheck1qvg9fd">
                <label class="custom-control-label terms-label" for="customCheck1qvg9fd">More than 25% (55)</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- category list -->
      <div class="col-lg-9">
        <!-- heading -->
        <div class="row">
          <div class="col-lg-8">
            <h2 class="text-center">{{catName}}</h2>
          </div>
          <div class="col-lg-4">
            <form>
              <div class="form-group">
                <select id="inputFilter" class="form-control input-field">
                  <option selected>Popularity</option>
                  <option>Latest</option>
                  <option>Lowest</option>
                  <option>Highest</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <!-- heading -->
        <div class="row mt-5 ">
          <!-- <div class="col-lg-4 mb-3"> -->
          <div class="row" *ngIf="!noData">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 product-data" *ngFor="let products of allProducts;let i = index">
              <div class="product">
                <div class="container">
                  <div class="row">
                    <!-- like -->
                    <div class="col-md-12 text-right">
                      <a (click)="addWish(products)">
                        <fa name="heart" [ngClass]="{'wishlisted':products.iswishList==1}"></fa>
                      </a>
                    </div>
                    <!-- like  -->
                    <!-- product image -->
                    <div class="col-md-12 text-center">
                      <img [src]="products.product_image" class="img-fluid prodImage" (click)="ShowProductDetails(products.id)">
                    </div>
                    <div class="col-lg-12" *ngIf="showOutOfStock">
                      <div class="out-of-stock text-center">
                        <span>Out Of Stock</span>
                      </div>
                    </div>
                    <!-- product image -->
                    <!-- product details -->
                    <div class="col-md-12 prices">
                      <div>
                        <!-- <li> -->
                        <form>
                          <div class="form-group">
                            <!-- <select [(ngModel)]="skid" (ngModelChange)="selectOption(skid)">
                                      <option *ngFor="let sku of products.sku">{{sku.sku}} </option>
                                    </select> -->

                            <p (click)="showSizes(i)" *ngIf="showselecteddata && selected!==i" name="skid" class="sizes">{{products.sku[0].size}}</p>
                            <p (click)="showSizes(i)" *ngIf="showselecteddata && selected==i" name="skid" [ngClass]="{'sizes':selecte.skid!==''}">{{selecte.skid}}</p>
                            <!-- <p (click)="showSizes(i)" *ngIf="showselecteddata" name="skid" [ngClass]="{'sizes':selecte.skid!==''}">{{selecte.skid}}</p> -->


                            <div *ngIf="showSizeData && selected==i" class="sizes size-drop">
                              <p *ngFor="let sku of products.sku" (click)="showselected(sku.skid,sku.size,i,sku)">{{sku.size}}</p>
                            </div>
                            <!-- <select class="form-control input-field" id="exampleFormControlSelect1" [(ngModel)]="selecte.skid"
                                      name="skid" (change)="selectOption($event.target.value,i)">
                                      <option value="" disabled selected>Select Size..</option>
                                      <option *ngFor="let sku of products.sku" value="{{sku.skid}}">{{sku.size}} </option>
                                    </select> -->
                          </div>
                        </form>
                        <!-- </li> -->
                      </div>
                      <div class="product-names text-center">
                        <ul [ngClass]="{'afterDrop':showSizeData=='true' && selected==i}">

                          <li>
                            <h3 class="text-center">{{products.title}}</h3>
                          </li>
                          <li>MRP :
                            <span class="price">{{products.skuActualPrice}} </span>
                            <span class="offer-price"> {{products.sellingPrice}}</span>
                          </li>
                          <li>
                            <span class="text-danger">{{ "offer-price" | translate}} {{products.skuActualPrice -
                              products.sellingPrice || 0}}</span>
                          </li>
                          <li>
                            <ngb-rating [(rate)]="products.rating" required></ngb-rating>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <!-- product details -->
                    <div class="col-lg-12 col-md-12 col-sm-12 cart-btn">
                      <div class="quantity">
                        <button class="minus-btn" type="button" name="button" (click)="itemDecrease(products.id,products,i)"
                          *ngIf="!notInCart && i === selected">
                          <i class="fa fa-minus " aria-hidden="true"></i>
                        </button>
                        <lable *ngIf="notInCart || i !== selected">Quantity : </lable>
                        <input type="text" name="mycart" readonly="readonly" [value]="products.quantity" />
                        &nbsp;<lable *ngIf="!notInCart && i === selected">in cart</lable>&nbsp;
                        <button class="plus-btn" type="button" name="button" (click)="itemIncrease(products,products.id,i)"
                          *ngIf="!notInCart && i === selected">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </div><br *ngIf="!notInCart && i === selected" />
                      <!-- <div class="quantity">
                        <button class="minus-btn" type="button" name="button" (click)="itemDecrease(products.title)">
                          <i class="fa fa-minus " aria-hidden="true"></i>
                        </button>
                        <input type="text" name="quantity" value="{{products.quantity}}" />
                        <button class="
                          plus-btn" type="button" name="button" (click)="itemIncrease(products.title)">
                          <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                      </div> -->
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 cart-btn cart-image-button" *ngIf="notInCart || i !== selected">
                      <button class="btn category-btn" type="button" name="button" (click)="addCat(products,i,products.quantity,products)">
                        <span class="addbtn">Add</span>
                        <img class="addbtn" src="assets/images/online-shopping-cart.png">
                      </button>
                    </div>
                  </div>
                </div>

              </div>

            </div>


          </div>


          <div class="row mt-5 noData" *ngIf="noData">
            <h3>{{noData}}</h3>
          </div>


          <!-- </div> -->


        </div>
        <!-- <div class="row justify-content-center show-more-button mb-5">
          <div class="col-lg-2">
            <button type="submit" class="btn button submit-button">Show More</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>


</div>
<!-- vegetables category -->
<!-- grocery category -->
<div class="container" *ngIf="grocery">
  <h2>Grocery</h2>
</div>
<!-- grocery category -->

<div class="container" *ngIf="nonveg">
  <h2>Non veg</h2>
</div>
<br />
