<div class="container main-header">
  <div class="row">
    <div class="col-lg-3">
      <a (click)="goHome()">
        <img src="assets/images/logo.png" class="img-fluid">
      </a>
    </div>
    <div class="col-lg-6">
      <form>
        <div class="input-group mt-3 search-btn">
          <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username"
            aria-describedby="basic-addon2" [(ngModel)]="searchParam" name="searchParam">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary search-icon" type="button" (click)="searchProducts()">
              <img src="assets/images/search-icon.png">
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-3  mt-3 w-100">
      <div class="dropdown show">
        <button class="btn btn-secondary dropdown-toggle dropdown-button" href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <ul class="cart">
            <li>
              <img src="assets/images/cart.png" (click)="getCartList()">
            </li>
            <li>
              <h4 (click)="getCartList()">Shopping Cart</h4>
              <span (click)="getCartList()">{{cartCount}}</span>
            </li>
          </ul>
        </button>

        <div class="dropdown-menu cart-dropdown dropdown-content-cart" aria-labelledby="dropdownMenuLink">
          <div class="container-fluid cart-dropdown-content">
            <!-- <p class="text-center" style="color:red">{{errorMessage}}</p> -->
            <!-- cart item -->
            <div class="row">
              <div class="col-lg-12 text-right">
                <img src="assets/images/close.png" class="close-cart">
              </div>
            </div>
            <div class="row cart-product" *ngFor="let item of mainServe.viewCart">

              <div class="col-lg-12 text-right">
                <img src="assets/images/close.png" class="close-cart" (click)="deleteCart(item.product_sku_id)">
              </div>
              <div class="col-lg-5">
                <ul class="product-image">
                  <li>
                    <img [src]="item.product_image" class="img-fluid">
                  </li>
                  <li>
                    <h3>{{item.title}}</h3>
                    <!-- <h4>1 X 26</h4> -->
                  </li>
                </ul>
              </div>
              <div class="col-lg-3">
                <div class="quantity cart-quantity">
                  <form *ngFor="let data of item.sku">
                    <button class="minus-btn" type="button" name="button" (click)="itemHeaderDecrease(item.title,item,data)">
                      <i class="fa fa-minus " aria-hidden="true"></i>
                    </button>
                    <input type="text" name="quantity" readonly="readonly" value="{{data.mycart}}" />
                    <button class="plus-btn" type="button" name="button" (click)="itemHeaderIncrease(item.title,item,data)">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
              </div>
              <div class="col-lg-4">
                <ul class="product-cart-price">
                  <li>
                    <!-- <p>Rs.36</p> -->
                    <!-- <p class="text-danger">BIG SAVE PRICE: RS 32</p> -->
                  </li>
                </ul>
              </div>
            </div>
            <!-- cart item -->
            <!-- charges -->
            <div class="row table-responsive total-charges">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="charges">Sub Total</td>
                    <td class="cost">
                      <span>:</span>{{subTotal}}</td>
                  </tr>
                  <tr>
                    <td class="charges">Delivery Charges</td>
                    <td class="cost">
                      <span>:</span>{{deliveryCharge}}</td>
                  </tr>
                  <tr>
                    <td class="charges">Total</td>
                    <td class="cost">
                      <span>:</span>{{Total}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- charges -->
            <!-- proceed buttons -->
            <div class="row cart-dropdown-button mb-5">
              <p>
                <up>*</up>Actual Delivery Charges Computed at Checkout
              </p>
              <div class="col-lg-6 ">
                <a routerLink="/viewcart">View Cart</a>
              </div>
              <div class="col-lg-6 ">
                <a routerLink="/viewcart">CheckOut</a>
              </div>

            </div>
            <!-- proceed button -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showCart">
  <div class="container category">
    <ul>
      <li>
        <a routerLink="/vegcategories">Vegetables</a>
      </li>
      <li>></li>
      <li>Cart</li>
      <li>></li>
      <li>View Cart</li>
    </ul>
  </div>
  <div class="container-fluid viewcart-banner">
    <div class="container">
      <h1>View Cart</h1>
    </div>
  </div>
  <div class="container view-cart-table mt-5 table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product Details</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr class="mt-1" *ngFor="let item of mainServe.viewCart">
          <!-- <div *ngFor="let sku of item.sku"> -->
          <td>
            <ul class="product-image">
              <li>
                <img [src]="item.product_image" class="img-fluid">
              </li>
              <li>
                <h3>{{item.title}}</h3>
                <!-- <h4>{{sku.size}}</h4> -->
              </li>
            </ul>
          </td>
          <td *ngFor="let skudata of item.sku">
            <p>MRP :
              <span class="price">RS.{{skudata.actual_price}} </span>
              <span class="offer-price"> RS. {{skudata.offer_price}}</span>
            </p>
            <span class="text-danger">{{ "offer-price" | translate}} &nbsp;
              {{(skudata.actual_price)-(skudata.offer_price) }}</span>
          </td>
          <!-- </div> -->
          <td>
            <div class="quantity increase-buttons" *ngFor="let data of item.sku">
              <button class="minus-btn" type="button" name="button" (click)="mainServe.itemHeaderDecrease(item.title,item,data)">
                <i class="fa fa-minus " aria-hidden="true"></i>
              </button>
              <input type="text" name="quantity" readonly="readonly" value="{{data.mycart}}" />
              <button class="plus-btn" type="button" name="button" (click)="mainServe.itemHeaderIncrease(item.title,item,data)">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
          </td>
          <td *ngFor="let data of item.sku">
            <div class="row mt-3">
              <div class="col-lg-8">
                <p>Rs {{(data.mycart) * (data.offer_price)}}</p>
              </div>
              <div class="col-lg-4">
                <span>
                  <img src="assets/images/close.png" class="close-cart" (click)="deleteCart(item.product_sku_id)">
                </span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row empty-cart-details pb-5">
      <div class="col-lg-8 mt-3">
        <button type="submit" class="btn button" (click)="emptyCart()" *ngIf="mainServe.viewCart.length >0">
          <img src="assets/images/empty-cart.png"> EMPTY CART </button>

      </div>
      <div class="col-lg-4 table-responsive total-charges">
        <table class="table text-right">
          <tbody>
            <tr>
              <td class="charges">{{summary.cart_count}} items</td>
              <td class="cost">
                <span>:</span>RS {{summary.selling_price}}</td>
            </tr>
            <tr>
              <td class="charges">Sub Total</td>
              <td class="cost">
                <span>:</span>RS&nbsp; {{summary.selling_price}}</td>
            </tr>
            <tr>
              <td class="charges">Delivery Charges</td>
              <td class="cost">
                <span>:</span>Rs {{summary.delivery_charge}}</td>
            </tr>
            <tr>
              <th class="charges">Total</th>
              <th class="cost">
                <span>:</span>Rs {{(summary.grand_total)}}</th>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="col-lg-6 ">
        <p>
          <up>*</up>Actual Delivery Charges Computed at Checkout
        </p>
      </div>
      <!-- <div class="col-lg-6">
			<p class="text-danger text-right">You haved saved Rs. 64.00</p>
		</div> -->
    </div>

  </div>
  <div class="container">
    <div class="row  mt-5 mb-5">
      <div class="col-lg-6">
        <a href="#" class="view-cart-button btn">Continue Shopping</a>
      </div>
      <div class="col-lg-6 text-right">
        <a (click)="chekOut()" class="view-cart-button btn">Checkout</a>
      </div>
    </div>
  </div>

  <!-- deal of the day -->
  <div class="container-fluid best-deal best-deal-products">
    <app-product-slider></app-product-slider>
    <div class="row justify-content-center show-more-button">
      <div class="col-lg-2">
        <button type="submit" class="btn button submit-button">Show More</button>
      </div>
    </div>
  </div>
  <!-- deal of the day -->
</div>

<app-delivery *ngIf="!showCart" [cartData]="cartDetails"></app-delivery>