<!-- start header -->
<app-header (valueChange)='displayCounter($event)'></app-header>
<div class="container main-header">
  <div class="row">
    <div class="col-lg-3">
      <a routerLink="/">
        <img src="assets/images/logo.png" class="img-fluid">
      </a>
    </div>
    <div class="col-lg-6">
      <form>
        <div class="input-group mt-3 search-btn">
          <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username"
            aria-describedby="basic-addon2" [(ngModel)]="searchParam" name="searchParam">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary search-icon" type="button" (click)="searchProducts()">
              <img src="assets/images/search-icon.png">
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-3  mt-3 w-100">
      <div class="dropdown show">
        <button class="btn btn-secondary dropdown-toggle dropdown-button" href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <ul class="cart">
            <li>
              <img src="assets/images/cart.png" (click)="getCartList()">
            </li>
            <li>
              <h4 (click)="getCartList()">Shopping Cart</h4>
              <span (click)="getCartList()" *ngIf="mainSer.cartCount!==undefined">{{mainSer.cartCount}}</span>
              <span (click)="getCartList()" *ngIf="mainSer.cartCount==undefined">0</span>
            </li>
          </ul>
        </button>

        <div class="dropdown-menu cart-dropdown dropdown-content-cart" aria-labelledby="dropdownMenuLink">
          <div class="container-fluid cart-dropdown-content">
            <!-- <p class="text-center" style="color:red">{{errorMessage}}</p> -->
            <!-- cart item -->
            <div class="row">
              <div class="col-lg-12 text-right">
                <img src="assets/images/close.png" class="close-cart">
              </div>
            </div>
            <div class="row cart-product" *ngFor="let item of mainSer.viewCart">

              <div class="col-lg-12 text-right">
                <img src="assets/images/close.png" class="close-cart" (click)="deleteCart(item.product_sku_id)">
              </div>
              <div class="col-lg-5">
                <ul class="product-image">
                  <li>
                    <img [src]="item.product_image" class="img-fluid">
                  </li>
                  <li>
                    <h3>{{item.title}}</h3>
                    <!-- <h4>1 X 26</h4> -->
                  </li>
                </ul>
              </div>
              <div class="col-lg-3">
                <div class="quantity cart-quantity">
                  <form *ngFor="let data of item.sku">
                    <button class="minus-btn" type="button" name="button" (click)="itemHeaderDecrease(item.title,item,data)">
                      <i class="fa fa-minus " aria-hidden="true"></i>
                    </button>
                    <input type="text" name="quantity" readonly="readonly" value="{{data.mycart}}" />
                    <button class="plus-btn" type="button" name="button" (click)="itemHeaderIncrease(item.title,item,data)">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
              </div>
              <div class="col-lg-4">
                <ul class="product-cart-price">
                  <li>
                    <p>Rs : {{item.selling_price}}</p>
                    <p class="text-danger" *ngFor="let sku of item.sku">BIG SAVE PRICE : RS {{sku.actual_price -
                      sku.selling_price}}</p>
                  </li>
                </ul>
              </div>
            </div>
            <!-- cart item -->
            <!-- charges -->
            <div class="row table-responsive total-charges">
              <table class="table">
                <tbody>
                  <tr>
                    <td class="charges">Sub Total</td>
                    <td class="cost">
                      <span>:</span>{{mainSer.subTotal}}</td>
                  </tr>
                  <tr>
                    <td class="charges">Delivery Charges</td>
                    <td class="cost">
                      <span>:</span>{{mainSer.deliveryCharge}}</td>
                  </tr>
                  <tr>
                    <td class="charges">Total</td>
                    <td class="cost">
                      <span>:</span>{{mainSer.Total}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- charges -->
            <!-- proceed buttons -->
            <div class="row cart-dropdown-button mb-5">
              <p>
                <up>*</up>Actual Delivery Charges Computed at Checkout
              </p>
              <div class="col-lg-6 ">
                <a routerLink="/viewcart">View Cart</a>
              </div>
              <div class="col-lg-6 ">
                <a routerLink="/viewcart">CheckOut</a>
              </div>

            </div>
            <!-- proceed button -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main-header -->
<!-- menu header -->
<div class="container-fluid main-menu">
  <div class="container main-menu">
    <div class="row">
      <div class="col-lg-3 categories text-center">
        <div>
          <a id="dLabel" role="button" class="btn btn-primary dropdown-button" (click)="showCat()">
            CATEGORIES
            <img src="assets/images/drop-down.png" class="angle-down">
          </a>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light s col-xl-9">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=""></div>
        <div class="collapse navbar-collapse menu-list" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="nav-item ">
              <a class="nav-link menu" href="#">HOME
              </a>
            </li>
            <li class="nav-item" [ngClass]="{'activeHead':title=='SMART BASKET'}">
              <a class="nav-link menu" (click)="viewAll('SMART BASKET')">SMART
                BASKET</a>
            </li>
            <li class="nav-item" [ngClass]="{'activeHead':title=='ALL OFFERS'}">
              <a class="nav-link menu" (click)="viewAll('ALL OFFERS')">ALL OFFERS</a>
            </li>
            <li class="nav-item" [ngClass]="{'activeHead':title=='BEST DEALS OF THE DAY'}">
              <a class="nav-link menu" (click)="viewAll('BEST DEALS OF THE DAY')">DEAL OF THE DAY</a>
            </li>
            <li class="nav-item" [ngClass]="{'activeHead':title=='NEW ARRIVALS'}">
              <a class="nav-link menu" (click)="viewAll('NEW ARRIVALS')">NEW ARRIVALS</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>


<section>
  <div class="container">
    <div class="row">
      <!-- show categories -->
      <div class="col-md-3">
        <div class="cats" *ngIf="mainSer.showCategories">
          <div *ngFor="let data of mainSer.categories;let i =index" (click)="headerComp.showCatProd(data.id,i,data.name)"
            [ngClass]="{'activebak':i==selectedCat}">
            <a>{{data.name}}
              <span class="float-right" (click)="$event.stopPropagation();showSubCat(data.id,i)" [ngClass]="{'active':showSubCats && i==selectedCat}">
                <fa name="chevron-right"></fa>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- show sub categories -->

      <div class="col-md-3">
        <div class="subcats" *ngIf="mainSer.showSubCats">
          <div *ngFor="let data of mainSer.subCatList">
            <a (click)="showSubCatProd(data.id,i,data.name)">{{data.name}}
              <!-- <span class="float-right">
                  <fa name="chevron-right"></fa>
                </span> -->
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6">
          <div class="subcats" *ngIf="showSubCats">
            <div class="sub-category">
              <div class="sub-category-list">
                <ul class=" category-dropdown category-main-list" *ngFor="let subsubData of subData.subcategory">
                  <li>
                    <a>{{subsubData.name}}
                    </a>
                  </li>
  
                  <img class="offer-image" src="assets/images/classmate.jpg">
                </ul>
              </div>
              <div class="sub-category-list">
                <img src="assets/images/offer.jpg" class="img-fluid">
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</section>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- <ol class="slider-selector">
    <li data-target="#carouselExampleIndicators" *ngFor="let image of offerBannerData; let i = index" data-slide-to="i"
      class="bottom-indicators" [ngClass]="{'activeslide':i==0}">
      {{image.name}}</li>
  </ol> -->
  <div class="carousel-inner">
    <div class="carousel-item banner" *ngFor="let image of offerBannerData; let i = index" [ngClass]="{'active' : i == 0}"
      (click)="viewAll(image.type)">
      <img class="d-block w-100" [src]="image.website_bannerimage" alt="{{image.type}}">
      <div class="carousel-caption d-none d-md-block slider-text">
        <div class="shop-now-btn">
          <!-- <button class="btn button" type="submit">Shop now</button> -->
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev slider-arrows-style" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon slider-arrow" aria-hidden="true">
      <fa name="angle-left"></fa>
    </span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next slider-arrows-style" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon slider-arrow" aria-hidden="true">
      <fa name="angle-right"></fa>
    </span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- end header -->
<div class="container best-deal products-list" *ngIf="showAll">
  <h2 class="text-center">{{title}}</h2>
  <hr>
  <!-- <p class="red">View All</p> -->
  <br />
  <div class="row">


    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-data" *ngFor="let data of allProducts;let i= index">
      <div class="product">
        <div class="container">
          <div class="row">

            <div class="col-md-12 text-right">
              <a (click)="addWish(data)">
                <fa name="heart" [ngClass]="{'wishlisted':data.iswishList==1}"></fa>
              </a>
            </div>

            <div class="col-md-12 text-center">
              <img [src]="data.product_image" class="img-fluid prodImage" (click)="ShowProductDetails(data.id)">
            </div>

            <div class="col-md-12 prices">
              <div>
                <!-- <li> -->
                <form>
                  <div class="form-group">
                    <!-- <select [(ngModel)]="skid" (ngModelChange)="selectOption(skid)">
                                <option *ngFor="let sku of products.sku">{{sku.sku}} </option>
                              </select> -->

                    <p (click)="showSizes(i)" *ngIf="showselecteddata && selected!==i" name="skid" class="sizes">{{data.sku[0].size}}</p>
                    <p (click)="showSizes(i)" *ngIf="showselecteddata && selected==i" name="skid" [ngClass]="{'sizes':selecte.skid!==''}">{{selecte.skid}}</p>
                    <!-- <p (click)="showSizes(i)" *ngIf="showselecteddata" name="skid" [ngClass]="{'sizes':selecte.skid!==''}">{{selecte.skid}}</p> -->


                    <div *ngIf="showSizeData && selected==i" class="sizes size-drop">
                      <p *ngFor="let sku of data.sku" (click)="showselected(sku.skid,sku.size,i,sku)">{{sku.size}}</p>
                    </div>
                    <!-- <select class="form-control input-field" id="exampleFormControlSelect1" [(ngModel)]="selecte.skid"
                                name="skid" (change)="selectOption($event.target.value,i)">
                                <option value="" disabled selected>Select Size..</option>
                                <option *ngFor="let sku of products.sku" value="{{sku.skid}}">{{sku.size}} </option>
                              </select> -->
                  </div>
                </form>
                <!-- </li> -->
              </div>
              <div class="product-names text-center" [ngClass]="{'margin-div':showSizeData && selected==i}">
                <ul>

                  <li>
                    <h3 class="text-center">{{data.title}}</h3>
                  </li>
                  <li>MRP :
                    <span class="price">{{data.skuActualPrice}} </span>
                    <span class="offer-price"> {{data.sellingPrice}}</span>
                  </li>
                  <li>
                    <span class="text-danger">{{ "offer-price" | translate}} {{data.skuActualPrice -
                      data.sellingPrice || 0}}</span>
                  </li>
                  <li>
                    <ngb-rating [(rate)]="data.rating" required></ngb-rating>
                  </li>
                </ul>
              </div>
            </div>
            <!-- product details -->
            <div class="col-lg-12 col-md-12 col-sm-12 cart-btn">
              <!-- <div class="quantity">
                <button class="minus-btn" type="button" name="button" (click)="itemDecrease(data.title)" *ngIf="!notInCart && i === selected">
                  <i class="fa fa-minus " aria-hidden="true"></i>
                </button>
                <lable *ngIf="notInCart || i !== selected">Quantity : </lable>
                <input type="text" name="mycart" readonly="readonly" [value]="data.quantity" />
                &nbsp;<lable *ngIf="!notInCart && i === selected">in cart</lable>&nbsp;
                <button class="plus-btn" type="button" name="button" (click)="itemIncrease(data.title)" *ngIf="!notInCart && i === selected">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div> -->
              <div class="quantity" [ngClass]="{'top':!notInCart && i === selected}">
                <button class="minus-btn" type="button" name="button" (click)="itemDecrease(data.id,data,i)" *ngIf="!notInCart && i === selected">
                  <i class="fa fa-minus " aria-hidden="true"></i>
                </button>
                <lable *ngIf="notInCart || i !== selected">Quantity : </lable>
                <input type="text" name="mycart" readonly="readonly" [value]="data.quantity" />
                &nbsp;<lable *ngIf="!notInCart && i === selected">in cart</lable>&nbsp;
                <button class="plus-btn" type="button" name="button" (click)="itemIncrease(data,data.id,i)" *ngIf="!notInCart && i === selected">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <br *ngIf="!notInCart && i === selected" />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 cart-btn cart-image-button" *ngIf="notInCart || i !== selected">
              <button class="btn category-btn" type="button" name="button" (click)="addCat(data,i,data.quantity)">
                <span class="addbtn">Add</span>
                <img class="addbtn" src="assets/images/online-shopping-cart.png">
              </button>
            </div>


            <!-- <div class="quantity">
                <button class="minus-btn" type="button" name="button" (click)="itemDecrease(data.title,data)" *ngIf="!notInCart && i === selected">
                  <i class="fa fa-minus " aria-hidden="true"></i>
                </button>
                <lable *ngIf="notInCart || i !== selected">Quantity : </lable>
                <input type="text" name="mycart" readonly="readonly" [value]="data.quantity" />
                &nbsp;<lable *ngIf="!notInCart && i === selected">in cart</lable>&nbsp;
                <button class="plus-btn" type="button" name="button" (click)="itemIncrease(data,data.title)" *ngIf="!notInCart && i === selected">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div><br *ngIf="!notInCart && i === selected" /> -->
            <!-- <div class="quantity">
                <button class="minus-btn" type="button" name="button" (click)="itemDecrease(data.title)">
                  <i class="fa fa-minus " aria-hidden="true"></i>
                </button>
                <input type="text" name="mycart" readonly="readonly" value="{{data.quantity}}" />

                <button class="plus-btn" type="button" name="button" (click)="itemIncrease(data.title)">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div> -->
            <!-- </div>
            <div class="col-lg-12 col-md-12 col-sm-12 cart-btn cart-image-button" *ngIf="notInCart || i !== selected">
              <button class="btn category-btn" type="button" name="button" (click)="addCat(data)">
                <span class="addbtn">Add</span>
                <img class="addbtn" src="assets/images/online-shopping-cart.png">
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <app-product></app-product> -->


  </div>
</div>
<div class="container best-deal products-list" *ngIf="showWish">
  <h2 class="text-center">My Wishlist</h2>
  <hr>
  <!-- <p class="red">View All</p> -->
  <br />
  <div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 product-data" *ngFor="let data of allProducts;let i= index">
      <div class="product">
        <div class="container">
          <div class="row">

            <div class="col-md-12 text-right wishData">
              <a (click)="removeWish(data.id)">
                <fa name="heart"></fa>
              </a>
            </div>

            <div class="col-md-12 text-center">
              <img [src]="data.product_image" class="img-fluid prodImage" (click)="ShowProductDetails(data.id)">
            </div>

            <div class="col-md-12 prices">
              <div>


                <form>
                  <div class="form-group">
                    <p (click)="showSizes(i)" *ngIf="showselecteddata && selected!==i" name="skid" class="sizes">{{data.sku[0].size}}</p>
                    <p (click)="showSizes(i)" *ngIf="showselecteddata && selected==i" name="skid" [ngClass]="{'sizes':selecte.skid!==''}">{{selecte.skid}}</p>
                    <!-- <p (click)="showSizes(i)" *ngIf="showselecteddata" name="skid" [ngClass]="{'sizes':selecte.skid!==''}">{{selecte.skid}}</p> -->


                    <div *ngIf="showSizeData && selected==i" class="sizes size-drop">
                      <p *ngFor="let sku of data.sku" (click)="showselected(sku.skid,sku.size,i,sku)">{{sku.size}}</p>
                    </div>
                    <!-- <select class="form-control input-field" id="exampleFormControlSelect1" (change)="selectOption($event.target.value)">
                          <option>Select Size..</option>
                          <option *ngFor="let sku of data.sku" [value]="sku.skid">{{sku.size}} </option>
                        </select> -->
                  </div>
                </form>
              </div>
              <div class="product-names text-center" [ngClass]="{'margin-div':showSizeData && selected==i}">
                <ul>
                  <li>
                    <h3 class="text-center">{{data.title}}</h3>
                  </li>
                  <li>MRP :
                    <span class="price">{{data.skuActualPrice}} </span>
                    <span class="offer-price"> {{data.sellingPrice}}</span>
                  </li>
                  <li>
                    <span class="text-danger">{{ "offer-price" | translate}} {{data.skuActualPrice -
                      data.sellingPrice || 0}}</span>
                  </li>
                  <li>
                    <ngb-rating [(rate)]="data.rating" required></ngb-rating>

                  </li>
                </ul>

              </div>
            </div>
            <!-- product details -->
            <div class="col-lg-12 col-md-12 col-sm-12 cart-btn">

              <!-- <div class="quantity">
                <button class="minus-btn" type="button" name="button" (click)="itemDecrease(data.id,data,i)" *ngIf="!notInCart && i === selected">
                  <i class="fa fa-minus " aria-hidden="true"></i>
                </button>
                <lable *ngIf="notInCart || i !== selected">Quantity : </lable>
                <input type="text" name="mycart" readonly="readonly" [value]="data.quantity" />
                &nbsp;<lable *ngIf="!notInCart && i === selected">in cart</lable>&nbsp;
                <button class="plus-btn" type="button" name="button" (click)="itemIncrease(data,data.id,i)" *ngIf="!notInCart && i === selected">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <br *ngIf="!notInCart && i === selected" />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 cart-btn cart-image-button" *ngIf="notInCart || i !== selected">
              <button class="btn category-btn" type="button" name="button" (click)="addCat(data,i,data.quantity)">
                <span class="addbtn">Add</span>
                <img class="addbtn" src="assets/images/online-shopping-cart.png">
              </button>
            </div> -->

              <div class="quantity" [ngClass]="{'top':!notInCart && i === selected}">
                <button class="minus-btn" type="button" name="button" (click)="itemDecrease(data.id,data,i)" *ngIf="!notInCart && i === selected">
                  <i class="fa fa-minus " aria-hidden="true"></i>
                </button>
                <lable *ngIf="notInCart || i !== selected">Quantity : </lable>
                <input type="text" name="mycart" readonly="readonly" [value]="data.quantity" />
                &nbsp;<lable *ngIf="!notInCart && i === selected">in cart</lable>&nbsp;
                <button class="plus-btn" type="button" name="button" (click)="itemIncrease(data,data.id,i)" *ngIf="!notInCart && i === selected">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <br *ngIf="!notInCart && i === selected" />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 cart-btn cart-image-button" *ngIf="notInCart || i !== selected">
              <button class="btn category-btn" type="button" name="button" (click)="addCat(data,i,data.quantity)">
                <span class="addbtn">Add</span>
                <img class="addbtn" src="assets/images/online-shopping-cart.png">
              </button>
            </div>
            <!-- <div class="quantity">
                <button class="minus-btn" type="button" name="button" (click)="itemDecrease(data.title)">
                  <i class="fa fa-minus " aria-hidden="true"></i>
                </button>
                <input type="text" name="mycart" readonly="readonly" value="{{data.quantity}}" />

                <button class="plus-btn" type="button" name="button" (click)="itemIncrease(data.title)">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 cart-btn cart-image-button">
              <button class="btn category-btn" type="button" name="button" (click)="addCat(data)">
                <span>Add</span>
                <img src="assets/images/online-shopping-cart.png">
              </button>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <app-product></app-product> -->


  </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="noData">
  <p class="text-center">No data found</p>
</div>
