.product-data {
  margin-bottom: 20px !important;
}

.noData {
  margin-left: 44%;
}

.sizes p {
  border-bottom: 1px solid;
  padding: 3px !important;
  margin: 0px !important;
}

.sizes p:last-child {
  border-bottom: 0px !important;
}

.size-drop {
  width: 89% !important;
  top: -1px !important;
}

.sizes {
  padding: 3px !important;
}
